.genre-button {
  color: white;
  background-color: #1d2023;
  margin: 15px 10px 15px 10px;
}

.movie-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}
